
@{
    string title = "Wellcome to the details page";
}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <link href="~/birthdaycardstyle.scss" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <h1>This is the global view for all the controllers</h1>
    <p>This view is accessded by all the controller of the entire 
        project becuase it in the the shared folder </p>

</body>
</html>


