@{
    string title = "Wellcome to razore views is Asp.Net core ";
}

<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@title</title>
    </head>
    <body>
        <h1>@title </h1>
    </body>
</html>