@using _08RazorViews.Models
@model WrapperModel
@{
    string title = "Wellcome to the details page";
}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <link href="~/birthdaycardstyle.scss" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
<h1>Wellcome to products page</h1>
<p>We can create the _ViewsImports file global in Views folder to access
it in  all the views globally</p>
    <a href="/aslam">Go to Shared View </a>




   

</body>
</html>


